@media (max-width: 1920px) {
  .my-gallery {
    width: 100%;
    float: left;
    margin-bottom: 3rem;
  }

  .my-gallery figure {
    display: block;
    float: left;
    margin: 0 5px 5px 0;
    width: 302px;
  }
}

@media (max-width: 1366px) {
  .my-gallery {
    width: 100%;
    float: left;
  }

  .my-gallery figure {
    display: block;
    float: left;
    margin: 0 5px 5px 0;
    width: 240px;
  }
}


.iframe-container {
  overflow: hidden;
  /* // 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
  /* z-index: 9999; */
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  padding-bottom: 3rem;
}

.my-gallery img {
  width: 100%;
  height: auto;
}

.my-gallery figcaption {
  display: none;
}


